{% extends 'base.html' %}

{% block title %}Add Config{% endblock %}

{% block content %}
<div class="row">
    <div class="row">
    <div class="box col-md-8">
        <div class="box-inner">
            <div class="box-header well" data-original-title="">
                <h3><i class="glyphicon glyphicon-user"></i>文件配置</h3>
                <div class="box-icon">
                </div>
            </div>
            <div class="box-content">
            <a class="btn btn-info btn-sm" href="/config/">返回>></a><p/>
            <form  action="" method="post" class="form" role="form">
                {{ form.csrf_token }}
                <table width="150%" border="1" class="table-striped table-bordered responsive">
                    <tbody>
                    <tr>  
                        <td width="5%" border="1" align="center">项目</td>
                        <td width="12%" border="1">
                            {{ form.item_name }}
                        </td>
                        <td width="5%" border="1" align="center">配置文件</td>
                        <td width="12%" border="1">
                            {{ form.conf_file }}
                        </td>
                        <td width="5%" border="1" align="center">版本号</td>
                        <td width="12%" border="1">
                            {{ form.conf_version }}
                        </td>
                        <td width="5%" border="1" align="center">配置用户</td>
                        <td width="12%" border="1">
                            {{ form.conf_user }}
                        </td>
                    </tr>
                    </tbody>
                    </table>
                    <table width="150%" border="1" class="table-striped table-bordered responsive">
                    <tbody>
                    <tr>
                        <td width="10%" border="1" align="center">配置内容</td>
                        <td align="center" >
                        {{ form.conf_text(cols="140", rows="20") }}
                        </td>
                    </tr>
                    </tbody>
                    </table>
                </table><br/>
                {{ form.submit(class="btn btn-setting btn-primary") }}
            </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
