{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}
{% from 'bootstrap/nav.html' import render_breadcrumb_item %}

{% block title %}Configs{% endblock %}
{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        {{ render_breadcrumb_item('config.index', '文件配置列表') }}
    </ol>
</nav>
<h5>
    <small class="text-muted"> (已添加配置: {{ pagination.total }})</small>
    <span class="float-right"><a class="btn btn-primary btn-sm"
                         href="{{ url_for('config.create') }}">新增配置</a></span>
</h5>
{% if config_pages %}
<table class="table table-striped">
    <thead>
    <tr>
        <th>序号</th>
        <th>时间</th>
        <th>项目名称</th>
        <th>配置文件</th>
        <th>配置版本</th>
        <th>操作用户</th>
    </tr>
    </thead>
    <tbody>
    {% for a in config_pages %}
        <tr>
            <td>{{ loop.index + ((page - 1) * config.CONFIG_ITEM_PER_PAGE) }}</td>
            <td>{{a.timestamp}}</td>
            <td>{{a.item_name}}</td>
            <td>{{a.conf_file}}</td>
            <td>{{a.conf_version}}</td>
            <td>{{a.conf_user}}</td>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<div class="page-footer">{{ render_pagination(pagination) }}</div>
{% else %}
<div class="tip"><h5>当前没有文件配置信息.</h5></div>
{% endif %}
</div>
{% endblock %}

