{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}
{% from 'bootstrap/nav.html' import render_breadcrumb_item %}


{% block title %}Versions{% endblock %}
{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        {{ render_breadcrumb_item('version.index', '版本列表') }}
    </ol>
</nav>
<h5>
    <small class="text-muted"> (已添加版本: {{ pagination.total }})</small>
    <span class="float-right"><a class="btn btn-primary btn-sm"
                         href="{{ url_for('version.create') }}">新增版本</a></span>

</h5>
{% if version_pages %}
<table class="table table-striped">
    <thead>
    <tr>
        <th>序号</th>
        <th>时间</th>
        <th>部署项目版本</th>
        <th>配置文件版本</th>
    </tr>
    </thead>
    <tbody>
    {% for a in version_pages %}
        <tr>
            <td>{{ loop.index + ((page - 1) * config.VERSIONS_PER_PAGE) }}</td>
            <td>{{a.timestamp}}</td>
            <td>{{a.deploy_version}}</td>
            <td>{{a.config_version}}</td>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<div class="page-footer">{{ render_pagination(pagination) }}</div>
{% else %}
<div class="tip"><h5>当前没有版本信息.</h5></div>
{% endif %}
</div>
{% endblock %}

