{% extends 'base.html' %}
{%block content%}

<script language="javascript" type="text/javascript">
    function delpoy() {
        if (!confirm("确认部署？")) {
            window.event.returnValue = false;
        }
    }
</script>

<script language="javascript" type="text/javascript">
$(function(){
$('#type_web').change(function(){
    $('#type input').attr("value",'web');
    //debugger;
    $.ajax({
        type: "get",
        contentType: "application/json",
        dataType:"html",
        url: "/deploy/get_project/",
        data: "type=" + $(this).val(),
        success: function (data) {
            $('#project').empty();
            result = data.split(',');
            var stroarea = '';
            for (var i = 0; i < result.length; i++) {
                stroarea += '<option value=' + result[i].substr(1,result[i].length-2) + '>';
                stroarea += result[i].substr(1,result[i].length-2);
                stroarea += '</option>';
                }
                $('#project').append(stroarea);
            }
        })
    $.ajax({
        type: "get",
        contentType: "application/json",
        dataType:"html",
        url: "/deploy/get_deploy_hosts/",
        data: "type=" + $(this).val(),
        success: function (data) {
            $('#deploy_host').empty();
            result = data.split(',');
            var stroarea = '';
            for (var i = 0; i < result.length; i++) {
                stroarea += '<option value=' + result[i].substr(0,result[i].length) + '>';
                stroarea += result[i].substr(0,result[i].length);
                stroarea += '</option>';
                }
                $('#deploy_host').append(stroarea);
            }
        })
    });
$('#type_service').change(function(){
    $('#type input').attr("value",'service');
    //debugger;
    $.ajax({
        type: "get",
        contentType: "application/json",
        dataType:"html",
        url: "/deploy/get_project/",
        data: "type=" + $(this).val(),
        success: function (data) {
            $('#project').empty();
            result = data.split(',');
            var stroarea = '';
            for (var i = 0; i < result.length; i++) {
                stroarea += '<option value=' + result[i].substr(1,result[i].length-2) + '>';
                stroarea += result[i].substr(1,result[i].length-2);
                stroarea += '</option>';
                }
                $('#project').append(stroarea);
            }
        })
    $.ajax({
        type: "get",
        contentType: "application/json",
        dataType:"html",
        url: "/deploy/get_deploy_hosts/",
        data: "type=" + $(this).val(),
        success: function (data) {
            $('#deploy_host').empty();
            result = data.split(',');
            var stroarea = '';
            for (var i = 0; i < result.length; i++) {
                stroarea += '<option value=' + result[i].substr(0,result[i].length) + '>';
                stroarea += result[i].substr(0,result[i].length);
                stroarea += '</option>';
                }
                $('#deploy_host').append(stroarea);
            }
        })
    });

$('#deploy_version').change(function(){
    //debugger;
    $.ajax({
        type: "get",
        contentType: "application/json",
        dataType:"html",
        url: "/deploy/get_branch/",
        data: "deploy_version=" + $(this).val(),
        success: function (data) {
            $('#branch').empty();
            result = data.split(',');
            var stroarea = '';
            for (var i = 0; i < result.length; i++) {
                stroarea += '<option value=' + result[i].substr(1,result[i].length-2) + '>';
                stroarea += result[i].substr(1,result[i].length-2);
                stroarea += '</option>';
                }
                $('#branch').append(stroarea);
            }
        })
    });
})
</script>

<script language="javascript" type="text/javascript">
function submit_config(data){
    //debugger;
    var data = {
        type:$('#type input').val(),
        project:$("#project").val(),
        deploy_host:$("#deploy_host").val(),
        deploy_version:$("#deploy_version").val(),
        branch:$("#branch").val(),
    };
    $.ajax({
        type: "post",
        url: "/deploy/create/",
        data: data,
        beforeSend: function(xhr, settings){
            var csrftoken = $.cookie('csrftoken');
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        },
        success: function (result) {
            alert(result);
            location.href = "/deploy/";
        },
    })
}
</script>



<div class="row">
    <div class="row">
    <div class="box col-md-8">
        <div class="box-inner">
            <div class="box-header well" data-original-title="">
                <h2><i class="glyphicon glyphicon-user"></i> 新增环境部署</h2>
                <div class="box-icon">
				</div>
            </div>
            <div class="box-content">
            <a class="btn btn-info" href="/deploy/">返回上页>></a><p/>
				<!-- <form action="/create_deploy/" method="POST"> -->
				<!-- {% csrf_token %} -->
                <table class="table  table-bordered">
                    <tbody>
                    <tr>
                        <td class="center">项目名称</td>
                        <td>
                             <div class="radio" id="type">
                                <label>
                                <input type="radio" name="type" id="type_web" value="web" >WEB 服务
                                </label>
                                <label>
                                <input type="radio" name="type" id="type_service" value="service" >DUBBO 服务
                                </label>
                            </div>
                        </td>
                        <td class="center">项目名称</td>
                        <td>
                            <select name="project" id="project" class="form-control">
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="center">目标IP</td>
                        <td>
                            <select name="deploy_host" id="deploy_host" class="form-control">
                            </select>
                        </td>
                        <td class="center">部署版本</td>
                        <td class="center">
                            <select  name="deploy_version" id="deploy_version" class="form-control">
                            <option value='' >-</option>
                            {% for p in deploy_version%}
                            <option value='{{p.deploy_version}}' >{{p.deploy_version}}</option>
                            {% endfor %}
                            </select>
                        </td>
                        <td class="center">部署分支</td>
                        <td class="center">
                            <select name="branch" id="branch" class="form-control">
                            </select>
                        </td>
                    </tr>
                    </tbody>
                </table>
				<!-- <a href="#" class="btn btn-setting btn-primary">开始部署</a> -->
                <input class="btn btn-primary" type="submit" value="开始部署" onclick="submit_config()"/>
            </div>
        </div>
    </div>
    <!--/span-->
</div><!--/row-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h3>部署确认</h3>
                </div>
                <div class="modal-body">
                    <p id="deploy"></p>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
                    <input class="btn btn-primary" type="submit" value="确认部署" onclick="deploy()"/>
                </div>
            </div>
        </div>
    </div>
</form>

{%endblock %}












