{% extends 'base.html' %}

{% block title %}Add Deploy{% endblock %}

{% block content %}
<script language="javascript" type="text/javascript">
$(function(){
$('#type_web').change(function(){
    $('#type input').attr("value",'app');
    //debugger;
    $.ajax({
        type: "get",
        contentType: "application/json",
        dataType:"html",
        url: "/deploy/get_project/",
        data: "type=" + $(this).val(),
        success: function (data) {
            $('#project').empty();
            result = data.split(',');
            var stroarea = '';
            for (var i = 0; i < result.length; i++) {
                stroarea += '<option value=' + result[i].substr(1,result[i].length-2) + '>';
                stroarea += result[i].substr(1,result[i].length-2);
                stroarea += '</option>';
                }
                $('#project').append(stroarea);
            }
        })
    $.ajax({
        type: "get",
        contentType: "application/json",
        dataType:"html",
        url: "/deploy/get_deploy_hosts/",
        data: "type=" + $(this).val(),
        success: function (data) {
            $('#deploy_host').empty();
            result = data.split(',');
            var stroarea = '';
            for (var i = 0; i < result.length; i++) {
                stroarea += '<option value=' + result[i].substr(0,result[i].length) + '>';
                stroarea += result[i].substr(0,result[i].length);
                stroarea += '</option>';
                }
                $('#deploy_host').append(stroarea);
            }
        })
    });
$('#type_service').change(function(){
    $('#type input').attr("value",'conf');
    //debugger;
    $.ajax({
        type: "get",
        contentType: "application/json",
        dataType:"html",
        url: "/deploy/get_project/",
        data: "type=" + $(this).val(),
        success: function (data) {
            $('#project').empty();
            result = data.split(',');
            var stroarea = '';
            for (var i = 0; i < result.length; i++) {
                stroarea += '<option value=' + result[i].substr(1,result[i].length-2) + '>';
                stroarea += result[i].substr(1,result[i].length-2);
                stroarea += '</option>';
                }
                $('#project').append(stroarea);
            }
        })
    $.ajax({
        type: "get",
        contentType: "application/json",
        dataType:"html",
        url: "/deploy/get_deploy_hosts/",
        data: "type=" + $(this).val(),
        success: function (data) {
            $('#deploy_host').empty();
            result = data.split(',');
            var stroarea = '';
            for (var i = 0; i < result.length; i++) {
                stroarea += '<option value=' + result[i].substr(0,result[i].length) + '>';
                stroarea += result[i].substr(0,result[i].length);
                stroarea += '</option>';
                }
                $('#deploy_host').append(stroarea);
            }
        })
    });
})
</script>

<div class="row">
    <div class="row">
    <div class="box col-md-8">
        <div class="box-inner">
            <div class="box-header well" data-original-title="">
                <h3><i class="glyphicon glyphicon-user"></i>新增部署</h3>
                <div class="box-icon">
                </div>
            </div>
            <div class="box-content">
            <a class="btn btn-info btn-sm" href="/deploy">返回>></a><p/>
            <form  action="" method="post" class="form" role="form">
                {{ form.csrf_token }}
                <table width="100%" border="1" class="table table-bordered">
                <tbody>
                    <tr>
                        <td width="10%" border="1" align="center">项目类型</td>
                        <td>
                             <div class="control-group">
                                {% for type in form.deploy_type %}
                                <label>
                                    {{type}}
                                    {{type.label}}
                                </label>
                                {% endfor%}
                            </div>
                        </td>
                        <td width="10%" border="1" align="center">项目名称</td>
                        <td>
                            {{form.deploy_project}}
                        </td>
                    </tr>
                    <tr>
                        <td width="10%" border="1" align="center">目标主机</td>
                        <td>
                            {{form.deploy_host}}
                        </td>
                        <td width="10%" border="1" align="center">项目版本</td>
                        <td>
                            {{form.deploy_version}}
                        </td>
                    </tr> 
                    <tr>
                        <td width="10%" border="1" align="center">部署人员</td>
                        <td>
                            {{form.deploy_user}}
                        </td>
                    </tr>
                </tbody>
                </table><br/>
                {{ form.submit(class="btn btn-setting btn-primary") }}
            </form>
           </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}

