{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}
{% from 'bootstrap/nav.html' import render_breadcrumb_item %}

{% block title %}Deploy{% endblock %}

{% block content %}
<script type="text/javascript">
    function showlog(deploy_id, logtype){
    	$.get("/deploy/detail", {deploy_id: deploy_id, logtype: logtype}, function(data){
    	var obj = document.getElementById("showlog");
    	obj.innerHTML = data;
     	//window.open("/deploy/detail?deploy_id=" + deploy_id + "&logtype=" + logtype); //页面跳转并传参 */
    	});
    }
    function getlog(deploy_id, logtype){
    	showlog(deploy_id, logtype);
    	flush = setInterval(showlog, 3000, deploy_id, logtype);
    }
    
    function stoplog(){
    	clearTimeout(flush);
    	window.location.reload();
    }
</script>

<script type="text/javascript">
    function rollback(deploy_id) {
        alert(deploy_id);
        $.get("/deploy/rollback", {deploy_id: deploy_id}, function(data){
            alert(data);
            window.location.reload();
        });
    }
</script>
<script type="text/javascript">
    function deploy_again(deploy_id) {
        $.get("/deploy/again", {deploy_id: deploy_id}, function(data){
            alert(data);
            window.location.reload();
        });
    }
</script>


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        {{ render_breadcrumb_item('deploy.index', '部署列表') }}
    </ol>
</nav>
<h3>
    <small class="text-muted"> (已部署项目: {{ pagination.total }})</small>
    <span class="float-right"><a class="btn btn-primary btn-sm"
                         href="{{ url_for('deploy.create') }}">新增部署</a></span>
</h3><div>
    <span class="float-right"><a class="btn btn-warning btn-sm"
                         href="{{ url_for('deploy.upload') }}">上传文件</a></span><br/></br>
{% if deploy_pages %}
<table class="table table-striped">
    <thead>
    <tr>
        <th>序号</th>
        <th>部署时间</th>
        <th>部署项目</th>
        <th>项目类型</th>
        <th>部署版本</th>
        <th>部署主机</th>          
        <th>部署状态</th>   
        <th>操作人员</th>
        <th>当前状态</th>
    </tr>
    </thead>
    <tbody>
    {% for a in deploy_pages %}
        <tr>
            <td>{{ loop.index + ((page - 1) * config.DEPLOY_ITEM_PER_PAGE) }}</td>
            <td>{{a.dply_date}}</td>
            <td>{{a.dply_item}}</td>
            <td>{{a.dply_type}}</td>
            <td>{{a.dply_version}}</td>
            <td>{{a.dply_host}}</td>
            <td>{{a.dply_stat}}</td>
            <td>{{a.dply_user}}</td>
            <td class="center">
        	<a class="btn btn-sm btn-setting btn-success" onclick="getlog({{a.id}},'deploy')">
                    <i class="glyphicon glyphicon-zoom-in icon-white"></i> 部署日志
                </a>
                {% if a.dply_stat == "部署成功" %}
                    <a class="btn btn-sm btn-danger" onclick="rollback({{a.id}})"> 回滚
                    </a>
                {% elif a.dply_stat == "部署失败" %}
                    <a class="btn btn-sm btn-warning" onclick="deploy_again({{a.id}})"> 重新部署
                    </a>
                {% endif %}
                {% if "回滚" in a.dply_stat %}
                    <a class="btn btn-sm btn-setting btn-info" onclick="getlog({{a.id}},'rollback')">
                        <i class="glyphicon glyphicon-zoom-in icon-white"></i> 回滚日志
                    </a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<div class="page-footer">{{ render_pagination(pagination) }}</div>
{% else %}
<div class="tip"><h5>当前没有部署任务.</h5></div>
{% endif %}
</div>
    <div  id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onClick="stoplog()">×</button>
                    <h4 class="modal-title" id="myModalLabel">页面自动刷新</h4>
                </div>
                <div class="modal-body">
                    <pre>
                    	<p id="showlog"></p>
                    </pre>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-default" data-dismiss="modal" onClick="stoplog()">Close</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
