{% extends 'base.html' %}
{% from 'bootstrap/nav.html' import render_breadcrumb_item %}

{% block title %}DashBoard{% endblock %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            {{ render_breadcrumb_item('main.index', 'DashBoard') }}
        </ol>
    </nav>
    <div class="row">
        <div class="col-md-6">
            <div class="card border-secondary mb-3">
                <div class="card-header"><span class="oi oi-people"></span> 用户</div>
                <div class="card-body">
                    <h4 class="card-title">统计: {{ user_count|default('0') }}</h4>
                    <p class="card-text">锁定: {{ locked_user_count|default('0') }}
                        屏蔽: {{ blocked_user_count|default('0') }}</p>
                    <a class="btn btn-primary text-white" href="{{ url_for('.manage_user') }}">管理</a>
                    <a class="btn btn-secondary text-white" href="{{ url_for('.manage_user', filter='locked') }}">锁定用户</a>
                    <a class="btn btn-secondary text-white" href="{{ url_for('.manage_user', filter='blocked') }}">屏蔽用户</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
