{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}
{% from 'bootstrap/nav.html' import render_breadcrumb_item %}


{% block title %}Projects{% endblock %}
{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        {{ render_breadcrumb_item('project.index', '项目列表') }}
    </ol>
</nav>
<h5>
    <small class="text-muted"> (已添加项目: {{ pagination.total }})</small>
    <span class="float-right"><a class="btn btn-primary btn-sm"
                         href="{{ url_for('project.create') }}">新增项目</a></span>
</h5>
{% if project_pages %}
<table class="table table-striped">
    <thead>
    <tr>
        <th>序号</th>
        <th>时间</th>
        <th>项目名称</th>
        <th>项目类型</th>
        <th>项目端口</th>
        <th>项目信息</th>
        <th>项目状态</th>
    </tr>
    </thead>
    <tbody>
    {% for a in project_pages %}
        <tr>
            <td>{{ loop.index + ((page - 1) * config.PROJECTS_PER_PAGE) }}</td>
            <td>{{a.timestamp}}</td>
            <td>{{a.project_name}}</td>
            <td>{{a.project_type}}</td>
            <td>{{a.project_port}}</td>
            <td>{{a.project_info}}</td>
            {% if a.project_stat == 1 %}
                <td><span class="btn btn-sm btn-success" >已启用</span>
                    <a class="btn btn-sm btn-danger" href="/project/disable/{{a.id}}"> 停用</a>
            {% else %}
                <td><span class="btn btn-sm btn-warning">项目已停用</span>
            {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<div class="page-footer">{{ render_pagination(pagination) }}</div>
{% else %}
<div class="tip"><h5>当前没有项目信息.</h5></div>
{% endif %}
</div>
{% endblock %}

