{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100 page-header justify-content-center align-items-center">
            <h1>DevOps</h1>
        </div>
        <div class="row h-100 justify-content-center align-items-center">
            {{ render_form(form, extra_classes='col-6') }}
        </div>
        <div class="page-header" style="padding-left:275px;">
            <small>没有账户? <a href="{{ url_for('auth.register') }}">请点击注册</a></small><br/>
            <small>忘记密码? <a href="{{ url_for('auth.forget_password') }}">请点这里</a></small>
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock footer %}
