{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}

{% block title %}Add Host{% endblock %}

{% block content %}
<div class="row">
    <div class="row">
    <div class="box col-md-8">
        <div class="box-inner">
            <div class="box-header well" data-original-title="">
                <h3><i class="glyphicon glyphicon-user"></i>主机配置</h3>
                <div class="box-icon">
                </div>
            </div>
            <div class="box-content">
            <a class="btn btn-info btn-sm" href="/host/">返回上页</a><p/>
            <form  action="" method="post" class="form" role="form">
                {{ form.csrf_token }}
                <table width="100%" class="table table-striped table-bordered responsive">
                    <tbody>
                    <tr>
                        <td width="20%" border="1" align="center">主机地址</td>
                        <td width="30%" border="1">
                        {{form.host}}
                        </td>
                    </tr>
                    <tr>
                        <td width="20%" border="1" align="center">所属类型</td>
                        <td width="30%" border="1">
                        {{form.host_type}}
                        </td>
                    </tr>
                    </tbody>
                </table><br/>
                {{ form.submit(class="btn btn-setting btn-primary btn-sm") }}
            </form>
            </div>
        </div>
    </div>
    </div>
</div>

{% endblock %}

