{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}

{% block title %}Hosts{% endblock %}
{% block content %}
<div class="page-header">
    <h3>主机列表
        <small class="text-muted"> (已添加主机: {{ pagination.total }})</small>
        <span class="float-right"><a class="btn btn-primary btn-sm"
                             href="{{ url_for('host.create') }}">新增主机</a></span>

    </h3>
</div>
{% if host_pages %}
<table class="table table-striped">
    <thead>
    <tr>
        <th>序号</th>
        <th>时间</th>
        <th>主机</th>
        <th>类型</th>
    </tr>
    </thead>
    <tbody>
    {% for a in host_pages %}
        <tr>
            <td>{{ loop.index + ((page - 1) * config.HOSTS_PER_PAGE) }}</td>
            <td>{{a.timestamp}}</td>
            <td>{{a.host}}</td>
            <td>{{a.host_type}}</td>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<div class="page-footer">{{ render_pagination(pagination) }}</div>
{% else %}
<div class="tip"><h5>当前没有项目信息.</h5></div>
{% endif %}
</div>
{% endblock %}

